/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

body {
    /*margin-left: auto;
    margin-right: auto;
    width: 30%;*/
    margin: auto;
    height: 96%;
    background-color: #191919;
    /*border: 2px solid white;
    border-radius: 2px;*/
}
