/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

.animatefadeInUp {
    animation: fadeInUp 0.5s;
    -webkit-animation: fadeInUp 0.5s;
}
