/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
    }
}

.animateFadeInRight {
    animation: fadeInRight 0.5s;
    -webkit-animation: fadeInRight 0.5s;
}
