/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.imageChoice {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 10%;
    padding: 4%;
    width: 28%;
    border-radius: 5px;
    border: 2px solid #3f403d;
}
.correct {
    border-color: #33cc33;
}
.wrong {
    border-color: #ff3333;
}
