/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.pageFooter {
    background-color: #191919;
    position: fixed;
    bottom: 0;
    margin-top: 6%;
    width: 94%;
}

.pageFooter hr {
    margin: 6%;
    margin-bottom: 0;
    color: white;
}

.pageFooter h2 {
    text-align: center;
    color: #ff3333;
    margin: 6%;
}

.timeMode #score {
    float: left;
}

.timeMode #remainingTime {
    float: right;
}

.hidden {
    visibility: hidden;
}
