/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.pageFooter {
    background-color: #3f403d;
    position: fixed;
    bottom: 0;
    width: 96%;
    padding: 1%;
    margin-right: 1%;
    margin-left: 1%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.pageFooter h2 {
    text-align: center;
    color: #f0f0f0;
    margin: 6%;
}

.pageFooter #score {
    float: left;
}

.pageFooter #remaining {
    float: right;
}

.hidden {
    visibility: hidden;
}
