/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.pageTitle {
    margin: 6%;
}
.pageTitle img {
    margin-left: 35%;
    margin-right: 35%;
    height: 11%;
    width: 30%
}
.pageTitle h2 {
    text-align: center;
    color: #ff3333;
}
.pageTitle hr {
    color: white;
}
