/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.pageFooter {
    background-color: #191919;
    position: fixed;
    bottom: 0;
    margin: 6%;
    width: 88%;
}

.pageFooter hr {
    color: white;
}

.pageFooter h2, h3 {
    text-align: center;
    color: #ff3333;
    margin: 6%;
}
