/**
 * Project: Fun With Flags
 * Author: Amogh Bihani
 */

.pageTitle {
    margin: 6%;
}
.pageTitle img {
    display: block;
    margin: auto;
    height: 11%;
}
.pageTitle h2 {
    text-align: center;
    color: #ff3333;
}
.pageTitle hr {
    color: white;
}
